.favButton {
    background-position: center !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    width: 50px;
    height: 50px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
}

.favicon {
    background: url("/resources/fav.png");
}

.noFavIcon {
    background: url("/resources/nofav.jpg");
}

button:focus {
    outline: 0;
}